body {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 100vh;
    position: relative;
    margin: 0;
    background-color: #f6f6f6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}



.TurkuazKusak {
    background-color: rgb(122, 172, 250);
    box-shadow: 2px 2px 1px grey;
    padding-bottom: 0px;
    padding-left: 2px;
}

.BeyazKusak {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.CerceveSiyah {
    border: solid 2px #bababa;
    box-shadow: 2px 2px 1px grey;
}

.SayfaBaslik {
    background-color: #bababa;
    /*background: -moz-linear-gradient(top, #ff6600 0%, #ff6600 100%);
    background: -webkit-linear-gradient(top, #ff6600 0%,#ff6600 100%);
    background: linear-gradient(to bottom, #ff6600 0%,#ff6600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#ff6600',GradientType=0 );
    */
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 4px;
    box-shadow: 2px 2px 1px grey;
}




/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

    input.ng-invalid, select.ng-invalid {
        border: 1px solid red;
    }

    input.ng-valid, select.ng-valid {
        border: 1px solid #ced4da;
    }

a {
    cursor: pointer;
}

.ArkaPlanGizleGoster {
    background: #212529;
    opacity: 0.5;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    padding: 0;
    position: absolute;
    z-index: 100000;
}

.ArkaPlanProgress {
    margin: 0;
    position: absolute;
    left: -webkit-calc(50% - 200px);
    left: -moz-calc(50% - 200px);
    left: calc(50% - 200px);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


img {
    cursor: pointer;
}

.MenuBar a {
    color: white;
    text-decoration: none;
}

    .MenuBar a:hover {
        color: black;
        text-decoration: none;
    }

.LinkKirmizi a {
    color: red;
    text-decoration: none;
}

    .LinkKirmizi a:hover {
        color: #ac0000;
        text-decoration: none;
    }

.ArkaBeyaz {
    background-color: #FFFFFF;
}

.SayfaBaslikAd {
    background-color: #808080;
    margin: 5px;
    padding: 5px;
    color: white;
}



.btnAltKoseYok {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-top: 5px;
}












.nav > li > a:hover {
    background-color: #808080;
}





/*.modal-dialog {
    max-width: 900px;
}

.modal-content {
    left: 10px;
    width: 900px;
    height: 500px;
    max-height: 500px;
}

.modal-header {
    padding: 0.5rem !important;
}


.modal-body {
    overflow-y: auto;
    padding: 0.5rem;
}

.modal-content {
    background-color: #428bca;
    width: 800px;
}*/


.modal-content {
    background-color: #1a2732;
}

.modal-body {
    height: 500px;
    padding: 0.5rem;
    box-shadow: 5px 5px 5px black;
}


footer {
    /*   position: absolute;
    bottom: 0;
     width: 100%;
 */
    background-color: #cecece;
}



/*//Copy this css*/
.navbar {
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(64, 64, 64);
}

.btco-menu li > a {
    padding: 10px 15px;
    color: #000;
}

.btco-menu .active a:focus,
.btco-menu li a:focus,
.navbar > .show > a:focus {
    background: transparent;
    outline: 0;
}


.dropdown-menu .show > .dropdown-toggle::after {
    transform: rotate(-90deg);
}



















.table {
    margin-bottom: 0 !important;
}


.pagination {
    margin: 0 !important;
}

    .pagination > li {
        display: inline
    }

        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd
        }

        .pagination > li:first-child > a, .pagination > li:first-child > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px
        }

        .pagination > li:last-child > a, .pagination > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px
        }

        .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
            color: #23527c;
            background-color: #eee;
            border-color: #ddd
        }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7
    }

    .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd
    }

.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px
}

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}
