<form name="Login" ng-submit="KullaniciKaydet()" novalidate role="form">
    <table class="table table-borderless table-sm">
        <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="KullaniciAd">Kullanıcı Adı :</label>
                        <input type="text" name="KullaniciAd" ng-model="KullaniciModelKayit.KullaniciAd"
                               class="form-control" required autofocus />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="KullaniciAd">Adı :</label>
                        <input type="text" name="Ad" ng-model="KullaniciModelKayit.Ad"
                               class="form-control" required />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="KullaniciAd">Soyad :</label>
                        <input type="text" name="Soyad" ng-model="KullaniciModelKayit.Soyad"
                               class="form-control" required />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="ddlKullaniciTipNo">Tipi :</label>
                        <select name="ddlKullaniciTipNo" ng-model="KullaniciModelKayit.KullaniciTipNo"
                                ng-options="T.LookNo as T.UzunAd for T in KullaniciModelKayit.KullaniciTipNolar" class="form-control"></select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="ddlAktifPasifTipNo">Durumu :</label>
                        <select name="ddlKullaniciTipNo" ng-model="KullaniciModelKayit.AktifPasifTipNo"
                                ng-options="T.LookNo as T.UzunAd for T in KullaniciModelKayit.KullaniciTipNolar" class="form-control"></select>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>
