@{
    ViewBag.Title = "Kullanıcı İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ngcKullaniciAra">

    <div ng-show="HataVar" id="divSysError" class="alert alert-info ng-hide alert-dismissable flyover flyover-centered">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{HataAciklama}}
    </div>

    <div class="card">
        <div class="card-header KusakInce">
            <h6 class="float-left">Kullanıcı İşlemleri</h6>
            <div class="float-right">
                <button type="button" class="btn btn-sm btn-info" ng-click="RCIn()" aria-label="Yeni Kullanıcı Kayıt">
                    <span class="fa fa-save" aria-hidden="true" style="padding-right:15px"></span>Yeni Kullanıcı Kayıt
                </button>
            </div>
        </div>
        <div class="card-body PaddingAz">
            <form id="frmKullaniciAra" name="frmKullaniciAra" ng-submit="KullaniciAramaYap('B', 1)">
                <table class="table table-borderless table-sm MarginBottomYok">
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="txtKullaniciAd">Kullanıcı Adı :</label>
                                    <input type="text" name="txtKullaniciAd" ng-model="KullaniciModel.KullaniciAd" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="txtAd">Adı :</label>
                                    <input type="text" name="txtAd" ng-model="KullaniciModel.Ad" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="txtSoyad">Soyadı :</label>
                                    <input type="text" name="txtSoyad" ng-model="KullaniciModel.Soyad" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="ddlKullaniciTipNo">Tipi :</label>
                                    <select name="ddlKullaniciTipNo" ng-model="KullaniciModel.KullaniciTipNo"
                                            ng-options="T.LookNo as T.UzunAd for T in KullaniciModel.KullaniciTipNolar" class="form-control"></select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="ddlAktifPasifTipNo">Durumu :</label>
                                    <select name="ddlKullaniciTipNo" ng-model="KullaniciModel.AktifPasifTipNo"
                                            ng-options="T.LookNo as T.UzunAd for T in KullaniciModel.AktifPasifTipNoNolar" class="form-control"></select>
                                </div>
                            </td>
                            <td style="vertical-align:middle">
                                <button type="submit" class="btn btn-primary">
                                    <span class="fa fa-search" style="padding-right:15px"></span>Ara
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="card" ng-show="KullaniciModelSonuc.length">
        <div class="row">
            <div class="col-12">
                <table id="tblSonuc" ng-cloak class="table table-bordered table-sm AramaSonuc">
                    <tr>
                        <th style="width:25px"></th>
                        <th style="width:50px">S.No</th>
                        <th ng-click="Sirala('KullaniciAd')" style="cursor: pointer;">
                            Kullanıcı Adı
                            <span class="fa" ng-show="KullaniciModel.SiraAlan=='KullaniciAd'" ng-class="{'fa-chevron-up':KullaniciModel.SiraTip,'fa-chevron-down':!KullaniciModel.SiraTip}"></span>
                        </th>
                        <th ng-click="Sirala('Ad')" style="cursor: pointer;">
                            Adı
                            <span class="fa" ng-show="KullaniciModel.SiraAlan=='Ad'" ng-class="{'fa-chevron-up':KullaniciModel.SiraTip,'fa-chevron-down':!KullaniciModel.SiraTip}"></span>
                        </th>
                        <th ng-click="Sirala('Soyad')" style="cursor: pointer;">
                            Soyadı
                            <span class="fa" ng-show="KullaniciModel.SiraAlan=='Soyad'" ng-class="{'fa-chevron-up':KullaniciModel.SiraTip,'fa-chevron-down':!KullaniciModel.SiraTip}"></span>
                        </th>
                        <th ng-click="Sirala('KullaniciTipNo')" style="cursor: pointer;">
                            Tipi
                            <span class="fa" ng-show="KullaniciModel.SiraAlan=='KullaniciTipNo'" ng-class="{'fa-chevron-up':KullaniciModel.SiraTip,'fa-chevron-down':!KullaniciModel.SiraTip}"></span>
                        </th>
                        <th ng-click="Sirala('AktifPasifTipNo')" style="cursor: pointer;">
                            Durumu
                            <span class="fa" ng-show="KullaniciModel.SiraAlan=='AktifPasifTipNo'" ng-class="{'fa-chevron-up':KullaniciModel.SiraTip,'fa-chevron-down':!KullaniciModel.SiraTip}"></span>
                        </th>
                        <th style="width:120px"></th>
                    </tr>
                    <tr ng-repeat="KM in KullaniciModelSonuc|orderBy:SiralamaAlan:TersSira"
                        ng-class="$index % 2 == 0 ? 'AramaSonucTek' : 'AramaSonucCift'" on-finish-render="ngRepeatFinished">
                        <td>
                            <span class="fa fa-plus-square fa-fs22 fa-fcTu" ng-click="RCDet($event, KM.KullaniciKey)"></span>
                        </td>
                        <td>{{((KullaniciModel.AktifSayfaNo-1)*KullaniciModel.SayfaKayitAdet)+$index+1}}</td>
                        <td>{{KM.KullaniciAd}}</td>
                        <td>{{KM.Ad}}</td>
                        <td>{{KM.Soyad}}</td>
                        <td>{{KM.KullaniciTipNoUzunAd}}</td>
                        <td>{{KM.AktifPasifTipNoUzunAd}}</td>
                        <td>
                            <img src="~/Resim/Ortak/Guncelle.png" ng-click="RCGu(KM.KullaniciKey)" />
                            <img src="~/Resim/Ortak/Detay.png" ng-click="RCOk(KM.KullaniciKey)" />
                            <img src="~/Resim/Ortak/Sil.png" ng-click="RCSi(KM.KullaniciKey)" />
                            <img src="~/Resim/Ortak/Sec.png" ng-click="RCSec(KM.KullaniciKey)" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div style="padding-left:10px; margin-top:5px">
                    {{KullaniciModelSonuc.length}} / {{KullaniciModel.ToplamKayitAdet}}
                </div>
            </div>
            <div class="col-3">
                <select class="form-control" ng-model="SayfaKayitAdet"
                        ng-change="SayfaKayitAdetDegisti($event.target.value)"
                        style="width:100px">
                    <option value="50" selected="selected">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="0">Tümü</option>
                </select>
            </div>
            <div class="col-3">
                <ul uib-pagination
                    ng-model="KullaniciModel.AktifSayfaNo"
                    ng-change="SayfalamaDegisti()"
                    total-items="KullaniciModel.ToplamKayitAdet"
                    items-per-page="KullaniciModel.SayfaKayitAdet"
                    max-size="10"
                    class="pagination"
                    boundary-links="true"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"></ul>
            </div>
            <div class="col-3">
                <div class="float-right" style="padding-right:5px;margin-top:5px">
                    <div>
                        <button class="btn btn-primary btn-sm" ng-click="ExportPDF()">
                            <span class="fa fa-file-pdf-o"></span><span style="padding-left:15px"></span>Pdf
                        </button>
                        <button class="btn btn-primary btn-sm" ng-click="ExportExcel()">
                            <span class="fa fa-file-excel-o"></span><span style="padding-left:15px"></span>Excel
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/JSNG/Yetki/Kullanici")
}


