@{
    Layout = "~/Views/Shared/_LayoutPopUp.cshtml";
}

<div ng-controller="ngcKullaniciKayit">
    
    <form name="frmKullaniciKayit" ng-submit="KullaniciKaydet(frmKullaniciKayit.$valid)" novalidate role="form">
        <input type="hidden" ng-model="KullaniciModel.KullaniciKey" value="{{Key}}" />

        <div class="card">
            
            <div ng-show="HataVar" class="alert alert-danger ng-hide">
                {{HataAciklama}}
            </div>
            
            <div class="card-header KusakInce">
                <h6 class="float-left">Kullanıcı Bilgileri</h6>
            </div>
            <div class="card-body PaddingAz">

                <table class="table table-borderless table-sm">
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="KullaniciAd">Kullanıcı Adı :</label>
                                    <input type="text" name="KullaniciAd" ng-model="KullaniciModel.KullaniciAd" class="form-control" required autofocus />
                                </div>
                                <span ng-show="frmKullaniciKayit.KullaniciAd.$touched && frmKullaniciKayit.KullaniciAd.$invalid">Zorunlu alan</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="KullaniciAd">Adı :</label>
                                    <input type="text" name="Ad" ng-model="KullaniciModel.Ad" class="form-control" required />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="KullaniciAd">Soyad :</label>
                                    <input type="text" name="Soyad" ng-model="KullaniciModel.Soyad" class="form-control" required />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="ddlKullaniciTipNo">Tipi :</label>
                                    <select name="ddlKullaniciTipNo" ng-model="KullaniciModel.KullaniciTipNo"
                                            ng-options="T.LookNo as T.UzunAd for T in KullaniciModel.KullaniciTipNolar" class="form-control" required></select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="ddlAktifPasifTipNo">Durumu :</label>
                                    <select name="ddlKullaniciTipNo" ng-model="KullaniciModel.AktifPasifTipNo"
                                            ng-options="T.LookNo as T.UzunAd for T in KullaniciModel.AktifPasifTipNoNolar" class="form-control" required></select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" class="btn btn-sm btn-success" aria-label="Kaydet">
                                    <span class="fa fa-save" aria-hidden="true" style="padding-right:15px"></span>Kaydet
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </form>

</div>

@section Scripts {
    @Scripts.Render("~/JSNG/Yetki/Kullanici")
}
