@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="/Account/AnaSayfa">
                    <span class="fa fa-home" style="padding-right:5px"></span>Ana Sayfa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                    <span class="fa fa-sign-out" style="padding-right:5px"></span>Çıkış
                </a>
            </li>
        </ul>
    }
}
