@if (Session["OpKullaniciKey"] != null)
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/Account/AnaSayfa">
                <span class="fa fa-home" style="padding-right:5px"></span>Ana Sayfa
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Account/LogOff">
                <span class="fa fa-sign-out" style="padding-right:5px"></span>Çıkış
            </a>
        </li>
    </ul>
}
